.App{
  margin: 20px;
}

.personajes{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-direction: row-reverse;
}

.inicial{
  display: flex;
  border: 3px solid red;
  width: 200px;
  flex-direction: column;
  padding: 20px;
}

.info{
  display: flex;
  flex-direction: column;
}

.parrafo{
  margin:2px
}

.imgref{
  height: 200px;
}